* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    color: crimson;
}
.header {
  margin-left: 25px;
  font-size: 45px;
    
}
.body h1 {
    display: right;
    font-size: 50px;
    float: none;
    color:crimson;
    padding: 25px;
    text-align: left;
}
.header nav ul {
    display: flex;
    list-style: none;
    padding: 15px;
    font-size: 25px;
    width: fit-content;
    float: right;
}
.header nav ul li {
    margin-left: 15px;
    cursor: pointer;
}
#Services ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 25px;
}
#Services {
    padding-left: 20px;
    padding-right: 20px;
}
h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
}
a:link
{
    text-decoration: none;
}
.hero {
    margin-bottom: 15px;

}

#ILoveTacos {
    min-height: 500px;
    width: 100%;
    background-image: url("./ILoveTacos.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#1stWebPage {
    min-height: 100px;
    width:25%;
    text-align: center;
    padding-left: 45px;
}
#1stWebPagePic {
    padding-left: 15px;
}
#Green-Nature {
    text-align: center;
}
#Green-Nature-Pic {
    min-height: 100px;
    width:85%;

}